html, body {
    height: 135%;
	width: 100%;
    margin: 0;

}

.container {
	width:100%;
	height: 100%;
	background:#FEF0E5;
	display:flex;
	align-items:center;
	justify-content:center;
}

.gallery {

	height: 100%;
	width: 575px;
	display:flex;
	padding-left: 50px;
	padding-right: 50px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	
	
}

.img-box {
	height:100%;
	width:100%;
	margin: 10px;
	border-radius:25px;
	position:relative;
	transition: height 1.0s;
}

.padding {
	height:400%;
	width:100%;
	margin: 10px;
	border-radius:50px;
	position:relative;
	transition: height 0.5s;
}


.img-box:nth-child(1) {
	background: url("june.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(2) {
	background: url("july.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(3) {
	background: url("august.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(4) {
	background: url("september.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(5) {
	background: url("october.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(6) {
	background: url("november.jpg");
	background-size: cover;
	background-position:center;
}
.img-box:nth-child(7) {
	background: url("december.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(8) {
	background: url("january.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(9) {
	background: url("february.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(10) {
	background: url("march.jpg");
	background-size: cover;
	background-position:center;
}

.img-box:nth-child(11) {
	background: url("april.jpg");
	background-size: cover;
	background-position:center;
}

.img-box h3{
	color: #fff;
	position:relative;
	left: 10%;
	top: 10%;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 29px;
	padding: 0;
	margin: 0;
	
}

.img-box:hover {
	cursor:pointer;	
}


